*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
  background-color: #2a306a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.search *:not[class$='-menu']{
    cursor: text;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    min-height: 200px;
    background-color: #422a76;
    border-radius: 25px;
    box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.4);
    padding: 25px;
    gap: 1rem;
}

.photo-profile{
    width: 40%;
}

.photo-profile img{
    background-color: #2e2868;
    min-height: 100%;
    padding: 10px;
    max-width: 100%;
    border-radius: 50%;
}

/* .content-profile > div{
    margin: 2rem 0;
} */

.content-profile {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content-profile .name{
    color: white;
    font-weight: bold;
}

.content-profile .bio, .content-profile .recounts{
    color: #D0D1DB;
}

.recounts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.5rem;
}

.recounts div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.content-profile a {
    text-decoration: none;
    color: #D0D1DB;
    transition: color 0.5s;
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.content-profile a:hover {
    color: #1d9bf0;
}
